* {
  padding: 0px;
  margin: 0px;
}

.info1 {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  padding: 10px;
}

.info {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-bottom: 0px;

}

.contact1 {
  margin-left: 10px;
}

.re {
  margin-left: 500px;

}

.banner {
  display: flex;
  background-color: #2f4664;
  height: 100px;
  width: 100%;
  border: none;
  top: 0px;
  position: sticky;
  z-index: 3;

}

.banner1 {
  height: 100px;
  width: 400px;
}

#icon1 {
  font-size: 12px;
}

.opt {
  font-size: 20px;
  margin-left: 50px;
  color: white;
  padding-top: 20px;

}

.opt:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.option {
  display: flex;
  align-items: center;
  list-style: none;
}

#h {
  margin-left: 100px;
  margin-right: 0px;
}

#a {
  margin-right: 0px;
}

#p {
  margin-right: 0px;
}

#ad {
  margin-right: -0px;
}

#f {
  margin-right: 0px;
}

#g {
  margin-right: 0px;
}

.option1 {
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}

.opt1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.opt1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.opt1 a:hover {
  background-color: #f1f1f1;
}

.option1:hover .opt1 {
  display: block;
  z-index: 3;
}

.mid {
  background-color: #335888;
  width: 100%;
  height: 1000px;
  text-align: center;
}

.mid1 {
  width: 1488px;
}

.mid2 {
  text-align: center;
  color: white;
  margin-top: 20px;
}
.mid4 {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  
}
.mid5 {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.mid5:hover {
  background-color: rgba(169, 158, 9, 0.792);
  transform: scale(1.1);
  transition: 0.1s;
  border-radius: 10px;
  cursor: pointer;
}
.text{
  align-items: center;
  width: 80%;
  text-align: center;
  margin-left: 150px;
  color:white;
  margin-top: 20px;
}

.program {
  height: 500px;
  width: 1488px;
  border: 1px solid black;
}

.program-a {
  display: flex;


}

.program1 {
  display: flex;
  justify-content: space-between;
  background-color: #335888;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 250px;
  margin-left: 90px;
  border-radius: 5%;
  color: white;

}

.program1:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgba(169, 158, 9, 0.792);

}

.pro {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.faci {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.faci-h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.faci1 {
  height: 300px;
  width: 325px;
  margin: 10px;

}

.facilities1 {
  display: block;
  border: none;
  box-shadow: rgb(165, 162, 162);
  height: 540px;
  width: 350px;
  margin-left: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(0, 0, 0, 0.5);

}

.faciA {
  text-align: center;
  font-size: 18px;
}

.read {
  display: flex;
  border: none;
  width: 100px;
  height: 40px;
  align-items: center;
  margin-left: 130px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: rgb(63, 43, 70);
  font-size: 15px;
  color: white;
}

.facilities1 a {
  margin-left: 15px;
}

.read:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgba(169, 158, 9, 0.792);
}

.facilities-A {
  display: inline-flex
}

.facilities-B {
  margin-top: 50px;
  display: inline-flex;
}
.stories h1{
  text-align: center;
  margin-top: 50px;
}
.stories2{
  margin-top: 50px;
  height:300px;
  background-color: #335888;
  text-align: center;  
  margin-top: 20px;
  clip-path: polygon(100% 25%, 51% 0%, 0% 24%, 0% 82%, 50% 100%, 99% 83%, 100% 83%);
  
}
.image img{
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
}
.stories1{
  width: 70%;
  text-align: center;
  color: white;
  
  font-family: 'Times New Roman', Times, serif;
  margin-left: 200px;
}
.name h6{
  font-size: 24px;
  font-size: 24px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.name p{
  color: white;
}
.slide{
 /* position: absolute; */
}


.event-h4 {
  text-align: center;
}

.event-A {
  display: inline-flex;
}

.event-h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.event-i {
  height: 200px;
  width: 275px;
  margin: 10px;
}

.event1 {
  display: block;
  border: none;
  box-shadow: rgb(165, 162, 162);
  height: 300px;
  width: 300px;
  margin-left: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(0, 0, 0, 0.5);
}

.event1:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.1s;
}

.footer {

  padding: 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
  background-image: url(world\ map.webp);
  background-size: cover;

}

.footer div {
  width: 30%;

}

.quick-links,
.contact-us {
  border-right: 1px solid #000;
  padding-right: 20px;
  margin-right: 20px;
}

.quick-links h1,
.contact-us h1 {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
}

.contact-us ul {
  list-style: none;
}

.contact-us li {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 20px;
  text-align: left;
}

.quick-links {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 23px;
  text-decoration: none;
  text-align: left;
}

.quick-links p:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.social{
  display: flex;
  justify-content: space-evenly;
}
.social1 i{
  color: white;
  font-size: 34px;
}
#insta:hover{
  transform: scale(1.1);
  color: purple;
}
#facebook:hover{
  transform: scale(1.1);
  color:blue;
}

.massenger {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 10px;
  background-image: url(massenger.jpg);
  background-size: cover;
  border-radius: 50%;
  justify-content: end;
  position: fixed;
  z-index: 3;
}