* {
    padding: 0%;
    margin: 0%;
}
body{
    background-color:#09264c;
    background-size: cover;
}
.logo {
  display: inline-flex;
  background-color: #2f4664;
  width: 100%;
  height: 70px;
   top: 0px;
  position: sticky;
  z-index: 1; 
}
.logo img{
  height: 100%;
}
.logo h1{
  margin-left: 25%;
  margin-top: 20px;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif
}
.box{
    text-align: center;
}
.box h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    margin-top: 40px;
}
.box1{
    display:block;
    border:none;
    box-shadow: rgb(165, 162, 162);
    height: 590px;
    width: 380px;
    margin-left: 37%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    background-color: #1774ee5c;
    
  }
  .qr{
    height: 250px;
    width: 250px;
    margin-top: 20px;
  }
  .box2{
    text-align: center;
    line-height: 1.6;
    color: white;
    
  }
  .box3{
    font-size: 24px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .box4 h4,h6{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;

  }
  .box4 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
  }
  .box3 a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
  }